.statusMessage .x-autocontainer-innerCt {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

a, a:visited {
    color: #404040;
    font-weight: 600;
}

h2, h3 {
    padding: 5px;
}

h2 {
    font-size: 1.4em;
    background-color: #C5CAE9;
}

h3 {
    font-size: 1.3em;
    background-color: #E8EAF6;
}

pre {
    max-width: 100%;
    overflow: scroll;
    padding-right: 45px;
}